.empty-title {
    color: rgb(32, 32, 32);
    width: 100%;
    margin: 5px 0 ;
}

img {
    width: 30%;
}

a {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    color: rgb(73, 73, 73);
}